<!-- Showcase -->
	<div class="stripe" id="stripe-showcase"><div class="contain" style="text-align:center;">

		<h3>Deals I'm Blding</h3>
		
		<div class="showcase-list">
	
			<a href="#" class="showcase">

				<div class="image"><%= image_tag('honeydipped (1).jpg') %>
					<div class="caption">
						<h6>HoneyDipped.com</h6>
						<p>Goldplated apple watches and gold plating services</p>
					</div>
				</div>
				<div class="text" style="text-align:center;">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis mauris mi. Donec quis mauris mi.</p>
					<button class="button green large" data-ct-checkout="bld.vinylloop-com">Partner with me</button>
				</div>

			</a>
	
			<a href="#" class="showcase">

				<div class="image"><%= image_tag('vinylloop1.png') %>
					<div class="caption">
						<h6>VinylLoop.com</h6>
						<p>New release, limited run independent record runs</p>
					</div>
				</div>
				<div class="text" style="text-align:center;">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis mauris mi. Donec quis mauris mi.</p>
					<button class="button green large" data-ct-checkout="bld.vinylloop-com">Partner with me</button>
				</div>

			</a>
	
			<a href="#" class="showcase">

				<div class="image"><%= image_tag('CrowdBrewed.png') %>
					<div class="caption">
						<h6>CrowdBrewed.com</h6>
						<p>Crowdfunding paltform for the craft beer and spirits industry</p>
						
					</div>
				</div>
				<div class="text" style="text-align:center;">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis mauris mi. Donec quis mauris mi.</p>
					<button class="button green large" data-ct-checkout="bld.vinylloop-com">Partner with me</button>
				</div>

			</a>
			
			<a href="#" class="showcase">

				<div class="image"><%= image_tag('buildingblocks.png') %>
					<div class="caption">
						<h6>Want to Bld Your Own?</h6>
						<p>Post the business, invite your friends, Bld your world!</p>
					</div>
				</div>
				<div class="text" style="text-align:center;">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis mauris mi. Donec quis mauris mi.</p>
					<button class="button blue large" data-ct-checkout="bld.vinylloop-com">Become a Blder</button>
				</div>

			</a>
	

		</div>

	</div></div>